#lp_wrapper {
    width: 100%;
    margin: 0;
    top: 0;
    position: static;
    overflow: visible;
    box-sizing: border-box;
	margin-top: 60px;
}

#lp_wrapper section {
  min-height: 600px;
  height: auto;
	border-bottom: 4px solid #ffff00;
}
#lp_wrapper .relative {
	position: relative;
	min-height: 600px;
	height: 600px;
	display: table-cell;
}
#lp_wrapper .pa_fixer {
	padding-right: 0px;
	padding-left: 0px;
}
#lp_wrapper .table {
	width:100%;
	display: table;
}
#lp_wrapper .tablecell {
	display: table-cell;
	vertical-align: middle;
	height: 600px;
	margin: 0 auto;
}

#lp_wrapper h1 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: #ffff00;
	font-weight: normal;
  text-shadow: 1px 1px 2px black;
	}
#lp_wrapper h3 {
		font-size: 25px;
		font-weight: 600;
		}
#lp_wrapper hr.center {
	margin: 20px auto;
	width: 200px;
	border-top: 1px solid #ffff00;
	border-bottom: 1px solid #ffff00;
}
#lp_wrapper a {
	color: #4aa6c9; 
}
#lp_wrapper a:hover {
	color: #d7002c;
	text-decoration: none;
}
#lp_wrapper a.yellow {
	background: #ed8722;
	color: white;
}
#lp_wrapper a.yellow:hover {
	background: white;
	color: #4aa6c9;
}
#lp_wrapper .header {
	min-height: 600px;
	height: auto;
	background: #f9f9f9 url("https://prokcssdata.blob.core.windows.net/mediacontent/link-building-main-bg.jpg") no-repeat  center center;
  background-size: cover;
  padding: 50px 0;

}
#lp_wrapper .header .absolute {
	vertical-align: middle;
}
#lp_wrapper .header h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: white;
	}
#lp_wrapper .header p {
	text-align: center;
	font-size: 25px;
	margin: 0 0 10px 0;
	padding: 0;
	color: white;
	}
#lp_wrapper .himg {
  text-align: center;
}


#lp_wrapper section.about {
	padding: 80px 0;
	background: white url("https://prokcssdata.blob.core.windows.net/mediacontent/link-building-about-bg.png") no-repeat scroll bottom center;
  background-size: cover;
}
#lp_wrapper section.about h2, #lp_wrapper section.possibilities h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #116d96;
	}
#lp_wrapper section.about p {
	text-align: center;
	font-size: 20px;
	margin: 20px auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	width: 75%;
	}
#lp_wrapper section.about p.special {
	border: 2px solid #4aa6c9;
	font-size: 25px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	}	

#lp_wrapper .about span {
	color: #d7002c;
	font-size: 30px;
	font-weight: 600;
}
#lp_wrapper section.possibilities {
	padding: 80px 0 400px;
	background: white url("https://prokcssdata.blob.core.windows.net/mediacontent/eximpata_2section_bg.jpg") no-repeat scroll bottom center;
	text-align: center;
}
#lp_wrapper section.possibilities .youtubevideo {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	border: 2px solid #4aa6c9;
	margin: 20px 0;
}
#lp_wrapper section.possibilities .youtubevideo iframe, #lp_wrapper section.possibilities .youtubevideo object, #lp_wrapper section.possibilities .youtubevideo embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#lp_wrapper p.big {
	font-size: 25px;
	margin: 20px auto 40px;
	padding: 0 20px 20px 20px;
	background: white;
	width: 75%;
	}
#lp_wrapper section.possibilities p {
	font-size: 20px;
	}
#lp_wrapper section.possibilities ul {
	padding: 5px 0 40px;
	font-size: 20px;
}
#lp_wrapper section.possibilities ul li{
	list-style-type: none;
	margin-bottom: 15px;
}
#lp_wrapper section.possibilities .blue {
	margin-top: 80px;
	background: #4aa6c9;
	border: 2px solid #4aa6c9;
	color: white;
}

#lp_wrapper section.possibilities .orange {
	background: #ed8722;
	border: 2px solid #ed8722;
	color: white;
}

#lp_wrapper section.possibilities .img {
	margin: 60px 20px 20px 20px;
}
#lp_wrapper section.contacts {
	background-color: #d7002c;
	min-height: auto;
	padding: 100px 0 20px 0;
	color: white;
	text-align: center;
}
#lp_wrapper section.contacts h2 {
	padding: 0;
	margin: 0;
	font-size: 30px;
}
#lp_wrapper section.contacts p {
	font-size: 25px;
}
#lp_wrapper section.contacts a {
	text-align: center;
	width: auto;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	color: #d7002c; 
	margin: 5px auto 80px;
	padding: 12px 45px;
	background: white;
	border: 2px solid #ed8722;
	border-radius: 5px;

}
#lp_wrapper section.contacts a:hover {
	color: #4aa6c9;
	text-decoration: none;
}

#cboxClose {
	color: #ed8722;
}
#cboxClose:hover {
	color: #4aa6c9;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #lp_wrapper .header .absolute {
  	position: relative;
    padding: 40px 0 20px 0;

  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #lp_wrapper h1 {
    font-size: 30px;
  }
  #lp_wrapper h2 {
    font-size: 20px;
  }
  #lp_wrapper section.about, #lp_wrapper section.possibilities {
  	padding: 80px 0 350px;
  }
  #lp_wrapper a, #lp_wrapper p, #lp_wrapper p.big, #lp_wrapper section.about p, #lp_wrapper section.about p.special {
    font-size: 15px;
  }
  #lp_wrapper section.possibilities p, #lp_wrapper section.possibilities ul {
    font-size: 12px;
  }
  #lp_wrapper section.possibilities .youtubevideo {

  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
